{% extends "pages/base.html" %}

{% block title %}Создание объявления{% endblock %}

{% block content %}
 <h1>Создание объявления</h1>
 <p>Создайте объявление, заполняя поля указанные ниже:</p>
     <form method="post" enctype="multipart/form-data">
        {{ property_form.as_p }}
         {% csrf_token %}
         <div>
            <label for="id_images">Изображения:</label>
            <input type="file" name="images" id="id_images" multiple required>
            {% if form.errors %}
                <p style="color: red;">{{ form.errors }}</p>
            {% endif %}
        </div>
        <button type="submit">Cохранить</button>
     </form>
{% endblock %}