{% extends "pages/base.html" %}


{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удаление объявления</title>
</head>
<body>
    <h1>Вы уверены, что хотите удалить объявление "{{ property_delete.title }}"?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Да, удалить</button>
    </form>
    <a href="{% url 'houses:detail' property_delete.pk %}">Отмена</a>
</body>
{% endblock %}