{% extends "pages/base.html" %}


{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование объявления</title>
</head>
<body>
    <h1>Редактирование объявление: {{ property_edit.title }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        {% if images %}
            <div class="image-preview">
                {% for image in images %}
                <div>
                    <img src="{{image.image.url}}" alt="Изображение {{ forloop.counter }}"/>
                    <label>
                        <input type="checkbox" name="delete_images" value="{{ image.id }}"> Удалить
                    </label>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        <div>
            <label for="id_images">Изображения:</label>
            <input type="file" name="images" id="id_images" multiple>
        </div>

        <div>
            <button type="submit">Сохранить изменения</button>
            <a href="{% url 'houses:detail' property_edit.pk %}">Отмена</a>
        </div>
    </form>

</body>
{% endblock %}
