{% extends "pages/base.html" %}

{% block title %}Houses{% endblock %}


{% block content %}

    <h1>Мои объявления</h1>
        <div class="filters">
        <form method="get" style="display: flex; align-items: center; gap: 16px;">
            <div class="checkbox-list">
                <label for="id_property_type"><strong>Тип:</strong></label>
                {{ form.property_type }}
            </div>

            <div>
                <label for="id_rent_or_sale"></label>
                {{ form.rent_or_sale }}
            </div>

            <div>
                <label for="id_min_price">Мин. цена:</label>
                {{ form.min_price }}
            </div>

            <div>
                <label for="id_max_price">Макс. цена:</label>
                {{ form.max_price }}
            </div>

            <div>
                <label for="id_rooms">Кол-во комнат:</label>
                {{ form.rooms }}
            </div>

            <div>
                <label for="id_city">Город:</label>
                {{ form.city }}
            </div>

            <div>
                <button type="submit">Применить</button>
            </div>
        </form>
    </div>
        {% if request.user.is_authenticated %}
        <form class="my_announcements" action="{% url 'houses:homepage' %}">
            <button type="big2">Все объявления</button>
        </form>
        <form class="new_announcement" action="{% url 'houses:create_announcement' %}">
            <button type="big1">Выложить объявление</button>
        </form>

        {% else %}
        <form class="make_new_announcement" action="{% url 'houses:login' %}">
            <button type="make_new_announcement" align="center">Авторизуйтесь, чтобы выложить объявление</button>
        </form>
        {% endif %}


    {% for property in property_list %}
    <body>
    <div class="card" style="top: 8px">
    <h2>
            <a href="{% url 'houses:detail' property.pk %}"></a>
            {% for image in property.images.all %}
            <img src="{{image.image.url}}" loading="lazy" class="card_image" align="left" alt="{{ property.title }}"/>
            {% endfor %}
            <a href="{% url 'houses:detail' property.pk %}" class="title">{{ property.title }}</a>
            <a class="price">{{ property.price }} ₽</a>
    </h2>
        <h4>
            <p class="body">{{ property.description|truncatewords:50|linebreaks }}</p>
        </h4>
            <h3 class="card_bottom">
                <p class="card_bottom">Город: {{ property.city }}</p>
                <p class="card_bottom">Продавец: {{ property.owner }}</p>
                <p class="card_bottom">Опубликовано: {{ property.created_at }}</p>
                <br>
            </h3>
        </a>
    </div>
        {% empty %}
        <li>У вас пока нет объявлений.</li>
    {% endfor %}

    </body>

    <br>

{% endblock content %}

